body {
   padding-top: 60px;
   padding-bottom: 40px;
}

.sidebar-nav {
   padding: 9px 0;
}

#postbox, #titlelink, #previewbox {
   width: 450px;
}

#previewbox {
   height: 82px;
   background-color: white;
   overflow: auto;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* eof */
