<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>front page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="author" content="Faried Nawaz" />

    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" />

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% if username %}
          <div class="btn-group pull-right">
            <button class="btn btn-primary btn-small"><i class="icon-user"></i> {{ username }}</button>
            <button class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="{{ logout_link }}">Sign Out</a></li>
            </ul>
          </div>
          {% else %}
          <div class="btn-group pull-right">
            <a class="btn btn-primary btn-small" href="{{ login_link }}">
              <i class="icon-user"></i> Login</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="page-header">
          <h1><a href="/">Links &amp; Blather</a><br />
            <small>self spew.</small></h1>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li><a href="/"><i class="icon-home"></i> Home</a></li>
              {% if username %}
              <li><a href="#postform" data-toggle="modal" data-keyboard="false"><i class="icon-pencil"></i> New post</a></li>
              {% else %}
              <li><a href="{{ login_link }}"><i class="icon-user"></i> Login to post</a></li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="span10">
          {% block content %}{% endblock %}
        </div>

      </div>

      <hr />

      <footer>
        <div class="row-fluid">
          <div class="span2">
            <address>
              <strong>Faried Nawaz</strong><br />
              <i class="icon-envelope"></i> <a href="mailto:self@node.pk" title="email">self@node.pk</a><br />
              <i class="icon-plus"></i> <a href="https://plus.google.com/114198572364830184739/about" title="google+">+faried</a><br />
              <i class="icon-retweet"></i> <a href="https://twitter.com/self" title="twitter">@self</a><br />
            </address>
          </div>
          <div class="span10">
            <p>&copy; me 2012</p>
          </div>
        </div>

      </footer>

    </div>

    {% if username %}
    <!-- post -->
    <div class="modal hide" id="postform">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>New post</h3>
      </div>
      <div class="modal-body">

        <div class="tabbable">

          <ul class="nav nav-tabs">
            <li class="active"><a href="#posttab" data-toggle="tab">Post</a></li>
            <li><a href="#previewtab" data-toggle="tab">Preview</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="posttab">
              <form id="new-post" method="post" action="/post">
                <fieldset>
                  <div class="control-group">
                    <label class="control-label" for="postbox">Post (for a link, remember to add a title):</label>
                    <div class="controls">
                      <textarea id="postbox" name="postbox" rows="4" placeholder="Type something..."></textarea>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="repost"><i class="icon-share"></i> Repost to:</label>
                    <div class="controls">
                      <label class="checkbox inline">
                        <input type="checkbox" id="repost" value="twitter" />
                        Twitter
                      </label>
                      <label class="checkbox inline">
                        <input type="checkbox" id="repost" value="facebook" />
                        Facebook
                      </label>
                      <label class="checkbox inline">
                        <input type="checkbox" id="repost" value="gplus" />
                        Google+
                      </label>
                    </div>
                  </div>

                  <div class="form-actions">
                    <div class=" pull-right">
                      <button type="submit" class="btn btn-medium btn-primary">Post</button>
                      <button class="btn btn-medium" id="cancel-post">Cancel</button>
                    </div>
                  </div>

                </fieldset>
              </form>
            </div>

            <div class="tab-pane" id="previewtab">
              <p>It'll look like:</p>
              <div class="uneditable-input" id="previewbox"></div>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Naah, I've changed my mind</a>
      </div>
    </div>
    {% endif %}

    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/site.js"></script>
    {% if username %}
    <script src="/js/showdown.js"></script>
    <script src="/js/showdown-gui.js"></script>
    <script src="/js/sisyphus.js"></script>
    <script type="text/javascript">
      $(postsetup);
    </script>
    {% endif %}
</html>
